node_modules/
.env
.DS_Store
juniorTest/
midTest/

# Playwright
/test-results/
/playwright-report/
/mochawesome-report/
/test-output/
/blob-report/
/playwright/.cache/
/playwright/.auth/

/allure-report/
/allure-results/